@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
	background-color: #C0C0C0;
	color: #000;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#continut {
	margin: 50px auto;
	margin-top: 100px;
	width: 80%;
	height: auto;
	background-color: #fff;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
}
#login {
	margin: 50px auto;
	width: 400px;
	padding-top: 50px;
}

#login h2 {
	background-color: #f95252;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

.textcaracter h2 {
	background-color: #f95252;
	border-radius: 20px 20px 20px 20px;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="text"], #login fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}
.textcaracter input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 120px;
}

#login fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}

.msg_succes{
	background-color:#99CC00;
	color:#fff;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:12px;
	
}
.msg_error{
	background-color:#990000;
	text-align:center;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:12px;
	
}

.tabel table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

.tabel th {
	background: linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
	font-weight: bold;
	padding: 10px 15px;
	text-shadow: 0 1px 0 #000;	
}

.tabel th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	top: 25%;
	width: 100%;
}

.tabel th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.tabel th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.tabel td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	transition: all 300ms;
}

.tabel td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.tabel td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.tabel tr:nth-child(odd) td {
	background: #f1f1f1 ;	
}

.tabel tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

.tabel tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

.tabel tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	